{% extends 'base.html' %}

{% block header %}
  <h4 class="container">{% block title %} Yeni Forum Başlığı {% endblock %}</h4>
{% endblock %}

{% block content %}

  <form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Content</label>
      <textarea class="form-control" name="body" id="body" rows="3">{{ request.form['body'] }}</textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
  </form>

{% endblock %}