{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Comments{% endblock %}</h1>
{% endblock %}

{% block content %}
<a class="action" href="{{ url_for('forum.index') }}">Home</a>
    {% for comment in comments %}
    <article class="post">
        <header>
          <div>
            <div class="about">{{g.user['nickname']}} by {{ comment['body'] }} </div>
            <a class="action" href="{{ url_for('forum.comment_delete', id=comment['id']) }}">Delete</a>
            <a class="action" href="{{ url_for('forum.comment_edit', id=comment['id']) }}">Edit</a>
          </div>
        </header>
      </article>
    {% endfor %}
{% endblock %}