{% extends 'base.html' %}
{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center text-dark mt-5">Login Form</h2>
        <div class="card my-5">
          <form method="post" class="card-body cardbody-color p-lg-5">
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                id="nickname"
                name="nickname"
                placeholder="Nickname"
                required
              />
            </div>
            <div class="mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="password"
                required
              />
            </div>
            <div class="text-center">
              <input type="submit" class="btn btn-color px-5 mb-5 w-100" value="Register">
            </div>
            <div class="form-text text-center mb-5 text-dark">
              Do you have an account?
              <a href="{{ url_for('auth.login')  }}" class="text-dark fw-bold"> Login </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}