{% extends 'base.html' %}

{% block header %}
    {% block title %}
    {% endblock %}
{% endblock %}

{% block content %}
<h1> Profile edit Sayfası </h1>
    {% for user in users %}
        <p class="body">nickname: {{ user['nickname'] }}</p>
        <p class="body">password: {{ user['password'] }}</p>
    {% endfor %}
        <form method="post">
            <label for="title">Nickname</label>
            <input name="nickname" id="nickname" value="{{ request.form['nickname'] }}">
            <label for="body">Password</label>
            <input type="password" name="password" id="password" value="{{ request.form['password'] }}">
            <input type="submit" value="Save">
        </form>
{% endblock %}