{% extends 'base.html' %}

{% block header %}
    {% block title %}
        Forums 
    {% endblock %}
    <a class="action" href="{{ url_for('profile.edit', id=g.user['id']) }}">Edit</a>
{% endblock %}

{% block content %}
<h1> Profile Sayfası </h1>
<h2>Profil Bilgileri</h2>
    {% for user in users %}
        <p class="body">id: {{ user['id'] }}</p>
        <p class="body">nickname: {{ user['nickname'] }}</p>
        <p class="body">password: {{ user['password'] }}</p>
    {% endfor %}

    <h2>Açılan Forum Başlıkları</h2>
    {% for forum in forums %}
        <p class="body">Forum Sayfasının başlığı: {{ forum['title'] }}</p>
        <p class="body">Sayfanın içeriği: {{ forum['body'] }}</p>
    {% endfor %}
{% endblock %}